@tailwind base;
@tailwind components;
@tailwind utilities;


html, body, #app {
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif; /* Apply Poppins font */
    line-height: 1.6;  /* Optional: improves readability */
}

/* Optional: Customize font sizes, etc. */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}

p {
    font-family: 'Poppins', sans-serif;
}

